* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

.description{
    font-size: 18px;
    color: #e5e7eb;
}

#logo {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
}

#title {
  font-weight: 700;
  font-style: normal;
}

.info,
.call-to-action-container {
  background-color: white;
}

.call-to-action{
    background-color: #3882f6;
    border-radius: 5px;
    margin: 50px;
    padding: 50px;
}

.quotes {
  background-color: #e5e7eb;
}

#frase {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

#cit{
    font-weight: 700;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #e5e7eb;
  border-radius: 5px;
}
